@using SwissMetroCookware.Models
@{
    if (Session["Manager"] == null)
    {
        Response.Redirect("/Home/LoginManager");
    }
}

@{
    Manager m = (Manager)Session["Manager"];

    Model1 db = new Model1();

}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>SwissMetroCookware</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/Admin/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/pages/menu-search/css/component.css">
    <!-- Horizontal-Timeline css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/pages/dashboard/horizontal-timeline/css/style.css">
    <!-- amchart css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/pages/dashboard/amchart/css/amchart.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/style.css">
    <!--color css-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/color/color-1.css" id="color" />

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/linearicons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/assets/css/jquery.mCustomScrollbar.css">

</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Menu header start -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index-2.html">
                            <img class="img-fluid" src="~/Content/Admin/assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <div>
                            <ul class="nav-left">


                                <li>
                                    <a href="#!" onclick="javascript:toggleFullScreen()">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>

                            </ul>
                            <ul class="nav-right">
                                <li class="header-notification lng-dropdown">
                                    <a href="#" id="dropdown-active-item">
                                        <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                    </a>
                                    <ul class="show-notification">
                                        <li>
                                            <a href="#" data-lng="en">
                                                <i class="flag-icon flag-icon-gb m-r-5"></i> English
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                <li class="user-profile header-notification">
                                    <a href="#!">
                                        <img src="@Url.Content(m.Employee.picture)" alt="User-Profile-Image">
                                        <span>@m.Employee.name</span>
                                        <i class="ti-angle-down"></i>
                                    </a>
                                    <ul class="show-notification profile-notification">

                                        <li>
                                            <a href="user-profile.html">
                                                <i class="@Url.Action("Details" , "Managers" , new { id = m.id})"></i> Profile
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="email-inbox.html">
                                                    <i class="ti-email"></i> My Messages
                                                </a>
                                            </li>*@
                                        @*<li>
                                                <a href="auth-lock-screen.html">
                                                    <i class="ti-lock"></i> Lock Screen
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="@Url.Action("LogoutManager" , "Home")">
                                                <i class="ti-layout-sidebar-left"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- search -->
                            <!-- search end -->
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Sidebar chat start -->
            <!-- Sidebar inner chat start-->
            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar" pcoded-header-position="relative">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40" src="@Url.Content(m.Employee.picture)" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>@m.Employee.name</span>
                                        <span id="more-details">Admin<i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="@Url.Action("Details" , "Managers" , new { id = m.id})"><i class="ti-user"></i>View Profile</a>
                                            <a href="@Url.Action("LogoutManager" , "Home")"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" menu-title-theme="theme5">Navigation</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu active pcoded-trigger">
                                    <a href="@Url.Action("IndexManager" , "Home")">
                                        <span class="pcoded-micon"><i class="ti-home"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>

                                </li>
                            </ul>

                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.tables" menu-title-theme="theme5">Reports</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-receipt"></i></span>
                                        <span class="pcoded-mtext">Sale Report</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                       
                                        <li class=" ">
                                            <a href="@Url.Action("DailySaleReport" , "Reports")" data-i18n="nav.basic-components.alert">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Daily Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("WeeklySaleReport" , "Reports")" data-i18n="nav.basic-components.breadcrumbs">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Weekly Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("MonthlySaleReport" , "Reports")" data-i18n="nav.basic-components.button">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Monthly Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("AnnualSaleReport" , "Reports")" data-i18n="nav.basic-components.box-shadow">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Annual Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-receipt"></i></span>
                                        <span class="pcoded-mtext">Profit/Loss</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                      
                                        <li class=" ">
                                            <a href="@Url.Action("DailyProfitLossReport" , "Reports")" data-i18n="nav.basic-components.alert">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Daily Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("WeeklyProfitLossReport" , "Reports")" data-i18n="nav.basic-components.breadcrumbs">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Weekly Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("MonthlyProfitLossReport" , "Reports")" data-i18n="nav.basic-components.button">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Monthly Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="@Url.Action("AnnualProfitLossReport" , "Reports")" data-i18n="nav.basic-components.box-shadow">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext">Annual Report</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>




                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.tables" menu-title-theme="theme5">Events</div>
                            <ul class="pcoded-item pcoded-left-item">

                                
                                <li class="">
                                    <a href="@Url.Action("CalendarManager", "Home")" data-i18n="nav.animations.main">
                                        <span class="pcoded-micon"><i class="ti-calendar "></i></span>
                                        <span class="pcoded-mtext">Agenda</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>


                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.chart-and-maps" menu-title-theme="theme5">Company</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class=" ">
                                    <a href="@Url.Action("Index", "Companies")" data-i18n="nav.animations.main">
                                        <span class="pcoded-micon"><i class="ti-credit-card"></i></span>
                                        <span class="pcoded-mtext">Manage Company</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Index", "Phonebooks")" data-i18n="nav.animations.main">
                                        <span class="pcoded-micon"><i class="ti-credit-card "></i></span>
                                        <span class="pcoded-mtext">Phonebook</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="@Url.Action("Index", "Employees")" data-i18n="nav.animations.main">
                                        <span class="pcoded-micon"><i class="ti-credit-card"></i></span>
                                        <span class="pcoded-mtext">Manage Employees</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <a href="@Url.Action("Index", "Admins")" data-i18n="nav.animations.main">
                                        <span class="pcoded-micon"><i class="ti-credit-card"></i></span>
                                        <span class="pcoded-mtext">Manage Admins</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <a href="@Url.Action("Index", "Managers")" data-i18n="nav.animations.main">
                                        <span class="pcoded-micon"><i class="ti-credit-card"></i></span>
                                        <span class="pcoded-mtext">Manage Managers</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                           
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">


                                    @RenderBody()


                                </div>

                                <div id="styleSelector">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="~/Content/Admin/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="~/Content/Admin/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="~/Content/Admin/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="~/Content/Admin/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="~/Content/Admin/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jqurey -->
    <script type="text/javascript" src="~/Content/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/Admin/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/bower_components/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/Admin/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Content/Admin/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/Admin/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- classie js -->
    <script type="text/javascript" src="~/Content/Admin/bower_components/classie/classie.js"></script>
    <!-- Rickshow Chart js -->
    <script src="~/Content/Admin/bower_components/d3/d3.js"></script>
    <script src="~/Content/Admin/bower_components/rickshaw/rickshaw.js"></script>
    <!-- Morris Chart js -->
    <script src="~/Content/Admin/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Content/Admin/bower_components/morris.js/morris.js"></script>
    <!-- Horizontal-Timeline js -->
    <script type="text/javascript" src="~/Content/Admin/assets/pages/dashboard/horizontal-timeline/js/main.js"></script>
    <!-- amchart js -->
    <script type="text/javascript" src="~/Content/Admin/assets/pages/dashboard/amchart/js/amcharts.js"></script>
    <script type="text/javascript" src="~/Content/Admin/assets/pages/dashboard/amchart/js/serial.js"></script>
    <script type="text/javascript" src="~/Content/Admin/assets/pages/dashboard/amchart/js/light.js"></script>
    <script type="text/javascript" src="~/Content/Admin/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/Content/Admin/bower_components/i18next/i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/Content/Admin/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Content/Admin/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/Content/Admin/assets/js/script.js"></script>

    <!-- pcmenu js -->
    <script src="~/Content/Admin/assets/js/pcoded.min.js"></script>
    <script src="~/Content/Admin/assets/js/demo-12.js"></script>
    <script src="~/Content/Admin/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/Admin/assets/js/jquery.mousewheel.min.js"></script>
</body>

</html>
