@model IEnumerable<SwissMetroCookware.Models.SubCategory>

@{
    ViewBag.Title = "Index";
}


<div class="page-header">
    <div class="page-header-title">
        <h4>Sub Category</h4>
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sub Categories List</h5>
                    <div class="card-header-right">
                        <i class="icofont icofont-rounded-down"></i>
                        <i class="icofont icofont-refresh"></i>
                        <i class="icofont icofont-close-circled"></i>
                    </div>
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-hover table-styling">
                        <tr class="table-primary">
                            <th>
                                Category
                            </th>
                            <th>
                                Picture
                            </th>
                            <th>
                                Sub Category
                            </th>
                            <th>
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.name)
                        </td>
                        <td width="155px">
                            <img height="150px" width="130px" src="@Url.Content(item.picture)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm btn-outline" href="@Url.Action("Edit" , "SubCategories" , new {id = item.id})"><i class="icofont icofont-edit-alt"></i></a>
                            <a class="btn btn-primary btn-sm btn-outline" href="@Url.Action("Details" , "SubCategories" , new {id = item.id})"><i class="icofont icofont-info-circle"></i></a>
                            <a class="btn btn-primary btn-sm btn-outline" href="@Url.Action("Delete" , "SubCategories" , new {id = item.id})"><i class="icofont icofont-trash"></i></a>
                        </td>
                    </tr>
                        }

                    </table>

                    <a class="btn btn-primary" href="@Url.Action("Create" , "SubCategories")">Add New Sub Category</a>

                </div>
            </div>
        </div>
    </div>
</div>