@using SwissMetroCookware.Models
@{
    ViewBag.Title = "Inbox";
    List<Message> m = ViewBag.msgs;
    int serial = 1;
}


<div class="page-header">
    @*<div class="page-header-title">
        <h4>New Orders</h4>
    </div>*@
</div>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Inbox</h5>
                    <div class="card-header-right">
                        <i class="icofont icofont-rounded-down"></i>
                        <i class="icofont icofont-refresh"></i>
                        <i class="icofont icofont-close-circled"></i>
                    </div>
                </div>
                <div class="card-block">
                    <table class="table table-bordered table-hover table-styling">
                        <tr class="table-primary">
                            <th width="30px">Sr.#</th>
                            <th>
                                Name
                            </th>
                            
                            <th>
                                Email
                            </th>
                            <th>
                                Phone Number
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                            </th>
                        </tr>
                        @if (m.Count() == 0 || m == null)
                        {
                            <tr><td colspan="5"><center><span>Nothing To Show Here!</span></center></td></tr>
                        }
                        else
                        {
                        foreach (var item in m)
                        {
                    <tr>
                        <td>
                            @serial
                        </td>

                        <td>
                            @item.first_name
                        </td>
                        <td>
                            @item.email
                        </td>
                        <td>
                            @item.contact
                        </td>
                        <td>
                            @item.subject
                        </td>
                        <td>
                            <center>
                                <a class="btn btn-primary btn-sm btn-outline" href="@Url.Action("MarkAsRead", "Home", new { id = item.id })"><i class="icofont icofont-check"></i></a>
                                <a class="btn btn-primary btn-sm btn-outline btn-danger" href="@Url.Action("DeleteConfirmed", "Messages", new { id = item.id })"><i class="icofont icofont-trash"></i></a>

                            </center>
                                </td>
                    </tr>
                    <tr>
                        <td colspan="4"><p>@item.body</p></td>
                    </tr>
                            serial++;
                        }
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


