@model SwissMetroCookware.Models.Phonebook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="page-header">
    <div class="page-header-title">
        <h4>Phonebook</h4>
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Details</h5>
                    <div class="card-header-right">
                        <i class="icofont icofont-rounded-down"></i>
                        <i class="icofont icofont-refresh"></i>
                        <i class="icofont icofont-close-circled"></i>
                    </div>
                </div>
                <div class="card-block">
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
Name                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
Description                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.notes)
                        </dd>

                        <dt>
Contact                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.phone)
                        </dd>

                        <dt>
Company                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.company)
                        </dd>

                    </dl>
                </div>
                
                <p>
                    <a class="btn btn-primary" href="@Url.Action("Edit" , "Phonebooks" , new {id = Model.id})">Edit</a>
                    <a class="btn btn-primary" href="@Url.Action("Index" , "Phonebooks")">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>

